//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

@global-font-family:                            proxima-nova, sans-serif;

@global-font-proxima:                           proxima-nova, sans-serif;
@global-font-kulturista:                        kulturista-web, serif;

@global-font-size:                              18px;
@global-line-height:                            1.5;      

@global-2xlarge-font-size:                      2rem; 
@global-xlarge-font-size:                       1.7rem;     
@global-large-font-size:                        1.5rem;   
@global-medium-font-size:                       1.4rem;  
@global-small-font-size:                        0.875rem; 


@global-font-weight-proxima-regular:             400;
@global-font-weight-proxima-medium:              500;
@global-font-weight-proxima-semi-bold:           600;
@global-font-weight-proxima-bold:                700;

@global-font-weight-kulturista-medium:           400;
@global-font-weight-kulturista-semi-bold:        600;

//
// Colors
//

@global-color:                                  #444;
@global-emphasis-color:                         #1E6B52;
@global-muted-color:                            #808285;

@global-link-color:                             @global-dark-green;
@global-link-hover-color:                       @global-smoke-gray;

@global-inverse-color:                          #fff;

//UAB Colors

//Official colors
@global-uab-green:                             #1E6B52;
@global-dragon-green:                          #295135;
@global-campus-green:                          #80bc00;
@global-loyal-yellow:                          #ffd400;
@global-blaze-gold:                            #aa9767;
@global-smoke-gray:                            #808285;

//Print colors
@global-choral:                                 #ea6852;
@global-cyan:                                   #238dc1;

//Non official, but commonly used
@global-light-yellow:                          #f4f8ee;
@global-dark-green:                            #144b39;
@global-light-gray:                            #eee;
@global-medium-gray:                           #d3d3d3;

//
// Backgrounds
//

@global-background:                             #fff;

@global-muted-background:                       #eee; 
@global-primary-background:                     @global-uab-green;
@global-secondary-background:                   @global-dark-green;

@global-success-background:                     @global-light-yellow;
@global-warning-background:                     @global-choral;
@global-danger-background:                      @global-background;

//
// Borders
//

@global-border-width:                           1px;
@global-border:                                 #e5e5e5;

//
// Box-Shadows
//

@global-small-box-shadow:                       0 2px 8px rgba(0,0,0,0.08);
@global-medium-box-shadow:                      0 5px 15px rgba(0,0,0,0.08);
@global-large-box-shadow:                       0 14px 25px rgba(0,0,0,0.16);
@global-xlarge-box-shadow:                      0 28px 50px rgba(0,0,0,0.16);

//
// Spacings
//

// Used in margin, section, list
@global-margin:                                 20px;
@global-small-margin:                           10px;
@global-medium-margin:                          40px;
@global-large-margin:                           70px;
@global-xlarge-margin:                          140px;

// Used in grid, column, container, align, card, padding
@global-gutter:                                 30px;
@global-small-gutter:                           15px;
@global-medium-gutter:                          40px;
@global-large-gutter:                           70px;

//
// Controls
//

@global-control-height:                         40px;
@global-control-small-height:                   30px;
@global-control-large-height:                   55px;

//
// Z-index
//

@global-z-index:                                1000;
